{% extends "layout_list.html" %}
{% block body %}  
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
           <!-- Begin Page Content -->
           <div class="container">
           <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">게시판</h1>
            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                For more information about DataTables, please visit the <a target="_blank"
                    href="https://datatables.net">official DataTables documentation</a>.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">상세 페이지</h6>
                </div>
                <div class="card-body">
                     <!-- Basic Card Example -->
                     <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">제목</h6>
                        </div>
                        <div class="card-body" style="color: black;">
                            {{ detail['title'] }}
                        </div>
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">내용</h6>
                        </div>
                        <div class="card-body" style="color: black;">
                            {{ detail['desc'] }}
                        </div>
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">글쓴이</h6>
                        </div>
                        <div class="card-body" style="color: black;">
                            {{ detail['author'] }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <!-- /.container-fluid -->
        </header>
   
{% endblock %}
 
        